.modal-trabajador {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.modal-trabajador .overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.modal-trabajador .modal-container {
  width: 80% !important;
  height: 80% !important;
  overflow-x: hidden !important;
  overflow-y: hidden;
  margin-top: 20px;
  overflow-y: auto;
}

.modal-trabajador .modal-container .modal-body .modal-grid {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}

.modal-trabajador .modal-container .modal-body .modal-grid .avatar {
  height: 150px;
}

.modal-trabajador .modal-container .modal-body .drag {
  border: 1px solid lightgray;
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-trabajador .modal-container .modal-body .data {
  display: grid;
  grid-template-columns: auto;
  gap: 4px;
}

.modal-trabajador .modal-container .modal-body .data .textField {
  width: 35vw !important;
}

.modal-trabajador .footer {
  width: 100%;
  margin-bottom: 20px;
}
.modal-trabajador .footer button {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .modal-trabajador .modal-container {
    width: 90%;
    height: 52% !important;
    overflow-y: scroll;
    margin-top: 5%;
  }
  .modal-trabajador .modal-container .modal-body .data div .textField div {
    width: 37vw !important;
  }

  .modal-trabajador .modal-container .modal-body .data {
    grid-template-columns: auto auto;
  }
  .modal-trabajador .footer {
    width: 100%;
    align-items: flex-end;
  }

}

@media screen and (min-width: 1000px) {
  .drag {
    height: 100% ;
    width: 100%;
  }
  .drag img {
    width: 100px;
    height: 100%;
  }
  .modal-trabajador .modal-container {
    width: 50% !important;
    height: 43% !important;
    overflow-x: hidden !important;
    overflow-y: hidden;
  }

  .modal-trabajador .modal-container .modal-body {
    grid-template-columns: auto auto;
  }
  .modal-trabajador .modal-container .modal-body .data {
    grid-template-columns: auto auto auto;
  }
  .modal-trabajador .modal-container .modal-body .modal-grid {
    display: grid;
    grid-template-columns: 23% 75%;
    gap: 10px;
  }

  .modal-trabajador .modal-container .modal-body .data .textField {
    width: 190px !important;
  }

  .modal-trabajador .footer {
    width: 100%;
    align-items: flex-end;
  }

  .modal-trabajador .footer button {
    width: 30%;
  }
}
