.modal-historial {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-historial .overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal-historial .modal-container {
  width: 90%;
  height: 500px;
  overflow-y: auto;
}

.buscador div {
  margin-top: -20px;
}

@media screen and (min-width: 1000px) {
  .modal-historial .modal-container {
    width: 900px;
  }
}
