.buscador-inventario {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
  padding-left: 30px;
}

.buscador-inventario .buscador {
  border: 1px solid lightgray;
  border-radius: 6px;
  width: 250px;
  background-color: white;
  padding: 1px;
}
.buscador-inventario .buscador span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 98%;
  height: 25px;
  background-color: white;
}

.buscador-inventario .buscador span input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 90%;
  outline: none;
  
}
.buscador-inventario .button-container {
  display: flex;
  gap: 4px;
}

.buscador-inventario .button-container button {
  background-color: white;
  width: 130px;
  border: 1px solid lightgray;
  border-radius: 6px;
}

.buscador-inventario .button-container button:hover {
  background-color: black;
  color: white;
}
