.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}


.icon-container{

  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  font-size: 20px;
  padding-top: 20px;

}

.sidebar-logo {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -250px;
}

.sidebar-areas {
  margin-top: 80px;
  width: 100%;
}
.sidebar-areas span {
  display: flex;

  margin-top: 20px;
  padding-left: 80px;
}

.sidebar-areas span li {
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: black;
  width: 100%;
}

.link span:hover {
  background-color: black;
  color: white;
}

.link li {
  margin-left: 10px;
}

@media screen and (min-width: 600px) {
  .sidebar-container {
    border-right: 1px solid black;
    justify-content: flex-start;
    width: 250px;
  }

  .sidebar-logo {
    margin-top: 30px;
  }

  .sidebar-areas {
    margin-top: 80px;
    font-size: 25px;
  }

  .link {
    text-decoration: none;
    color: black;
  }
  .link span {
    border-top: 1px solid black;
    border-right: none;
    height: 60px;
    display: flex;
    padding-left: 20px;
    display: flex;
    margin-top: 0;
    align-items: center;
    justify-content: flex-start;
  }
}
