.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  border-right: 1px solid black;
}

.icon-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
}

.sidebar-logo {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80px;
  left: 5px;
  /* margin-top: -250px; */
}

.sidebar-areas {
  margin-top: 80px;
  width: 100%;
  position: absolute;
  top: 150px;
  left: 0;
  width: 70px;
  color: black;
}
.sidebar-areas span {
  display: flex;
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.sidebar-areas span a {
  font-size: 18px;
  display: none;
  color: black;
  font-size: 20px;
}
.sidebar-areas span li {
  font-size: 18px;
  display: none;
}

.link {
  text-decoration: none;
  color: black;
  width: 100%;
}

.link span:hover {
  background-color: black;
  color: white;
}

@media screen and (min-width: 800px) {
  .sidebar-container {
    width: 250px;
  }

  .icon-container {
    display: flex;
    justify-content: flex-end;
    width: 250px;
    padding-right: 20px;
  }

  .sidebar-logo {
    height: 150px;
    width: 150px;
    margin-left: 50px;
  }
  .sidebar-areas {
    margin-top: 80px;
    width: 100%;
    position: absolute;
    top: 200px;
    left: 0;
    width: 250px;
    color: black;
  }

  .sidebar-areas span {
    display: flex;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    width: 250px;
    padding-left: 20px;
    border-top: 1px solid black;
  }
  .sidebar-areas span:nth-child(1) {
    border-bottom: 1px solid black;
  }

  .sidebar-areas span li {
    font-size: 18px;
    display: block;
  }
}
