.App {
  height: 100vh;
  overflow-x: hidden;
}

.App form input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  color: #222222;
  padding: 4px 11px;
  
}

.App form label {
  color: #222222;
}


.App form textarea {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;

  /* color: #D7D7D7; */
}

.App span {
  background-color: white;

  /* color: #D7D7D7; */
}


